##################################################
#.gitignore文件用于配置忽略待提交的文件或目录，这样在提交的时候就不会提示被过滤掉的文件或目录
#其格式为
# 1 "#"开始表示注释
# 2 *.后缀名表示不需要提交的文件
# 3 xxxx/表示目录
#################################################


#对于一般程序而言，.class, .project, .classpath文件，bin, .settings, build目录等本地信息不需要提交
#配置如下：
.class
.project
.classpath
bin/
.settings/
build/
META-INF/
target/